.example-wrapper {
  .or-menu {
    padding: 0 100px;
  }

  .sub-nav-overlay {
    display: flex;

    .item-wrapper {
      margin: 0 50px;

      .title {
        font-weight: 500;
        color: #111;
        line-height: 2;
      }

      .image {
        width: 144px;
        height: 144px;
        background-size: contain;
      }
    }
  }
}

.or-sub-nav {
  width: 100vw;
  height: 400px;
  padding: 40px 20px;
  background-color: #fff;
  color: #555;
  line-height: 1.5;
}
